<div class="modal-header header">
  <label class="modal-title pull-left">{{title}}</label>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="save(form.value , form.valid)">
    <div class="form-group">
      <ul *ngFor="let list of uploadedList">
        <li>{{list}}</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-5 form-group">
        <select id="reportType" formControlName='reportType' class="form-control custom-select" required>
      <option value="">Select one..</option>
      <option value="FinPulse">Finpulse Report </option>
      <option value="OSM">OSM Report</option>
      <option value="RTBR">RTBR Report</option>
    </select>
        <div *ngIf="form.get('reportType').invalid && (form.get('reportType').dirty || form.get('reportType').touched)" class="alert alert-danger">
          <div *ngIf="form.get('reportType').errors.required">
            Name is required.
          </div>
          <div *ngIf="form.get('reportType').errors.validReport">
            Report is already submitted.
          </div>
        </div>
      </div>

      <div class="uploadfile col-md-6" style=text-align:left>
        <input type="file" class="form-control-file" id="reportFile" #fileInput (change)="onReportFileChange($event)" accept=".xlsx, .xls">
        <p id="demo"></p>
        <div *ngIf="inValidFileExtension" class="alert alert-danger">
          <div>Please select valid file (xlsx, xls)</div>
        </div>
      </div>
    </div>
    <div class="form-group pullRight">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]='!form.valid && !inValidFileExtension'>Save</button>
    </div>
  </form>
  <div *ngIf = "" class="alert alert-danger" role="alert">
    <p>Please enter valid details</p>
  </div>
</div>
<!-- <div class="modal-footer">
</div> -->
