.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-row {
  background-color: #305886;
  color: white;
  position: sticky;
  top: 0;
}

.mat-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.input-sm {
  width: 80% !important;
}